@import "tailwindcss";


  
@layer base {
  html {
    scroll-behavior: smooth;

  }
body {
  @apply text-white overflow-x-hidden max-w-full box-border;

  background:
   
    #000;





  background-attachment: scroll;


}

}
@layer components{
  .main{
    @apply sm:px-10 px-3 flex flex-col gap-3 relative max-w-full ;
  }
    @media (min-width: 768px) {
    .writing-vertical-rtl {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
  }
}

/* @layer components {
  .btn {
    @apply inline-flex items-center justify-center px-8 py-4 text-sm font-semibold text-white bg-primary-500 hover:bg-primary-600 transition-colors duration-300 rounded-none border-0 cursor-pointer;
  }
  
  .btn--medium {
    @apply text-base px-10 py-5;
  }
  
  .u-fullwidth {
    @apply w-full;
  }
} */
/* 
.ss-preload * {
  animation-duration: 0s !important;
  animation-delay: 0s !important;
  transition-duration: 0s !important;
  transition-delay: 0s !important;
} */
